spring:
  application:
    name: service-provider
    
server:
  port: 8010
  
eureka:
  client:
    service-url:
#      defaultZone: http://localhost:8761/eureka/
      defaultZone: https://eureka.bminfraaws-test.com/eureka/

# 日志配置
logging:
  level:
    com.netflix.discovery: INFO 